.suggestionPanel {
    background-color: rgba(250, 250, 250, 0.8);
    border: 1px none;
    border-radius: 5px;
    position: relative;
    margin: 5px 0 0 5px;

    float: left;
    width: 100%; /* grows and shrinks with the parent */
    max-height: 100px;
    overflow: auto !important;
    outline: none;
    font-size: small;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    transition: height 1s;
}