.cellListEvenItem {
    cursor: pointer;
}
.cellListKeyboardSelectedItem {}
.cellListOddItem {
    cursor: pointer;
}
.cellListSelectedItem {
    background-color: #066b9e !important;
}

.cellListSelectedItem div {
    color: white !important; /* Override any child colors upon selection */
}

.cellListSelectedItem > div > div > img { /* Target only the schemaClass Icon */
    background-color: rgba(255, 255, 255, 0.8) !important; /* Put a white background behind the icon of the selected item */
    border-radius: 8px;
    padding: 1px;
    margin-left: -1px;
    box-sizing: content-box;
}

.cellListWidget {}
