.cellListWidget {

}
.cellListEvenItem {
    cursor: pointer;
    zoom: 1;
    background: transparent;
}

.cellListOddItem {
    cursor: pointer;
    zoom: 1;
    background: transparent;
}

.cellListKeyboardSelectedItem {
    background: #ffc;
}

.cellListSelectedItem {
    background: rgb(30, 148, 208);
    color: white;
    height: auto;
    overflow: visible;
}
