.interactorsPanel {
    padding: 0 10px 0 10px;
    font-size: medium !important;
}

.interactorsPanel select {
    background-color: transparent;
    color: white;
    border: solid 1px white;
    width: 100%;
    margin-top: 4px;
    /*font-weight: bold;*/
    outline: none;
    font-size: medium !important;
}

.interactorsPanel select option {
    color: black;
}

.tabHeader {
    margin-top: 5px;
    font-weight: bold;
    background-color: rgb(30, 148, 208);
    border-radius: 15px;
    color: white;
    text-align: center;
    padding-bottom: 2px;
}

.interactorLabel {
    margin-top: 5px;
    color: rgb(0, 90, 117);
}
