.interactorsPanel {
    padding: 0 10px 0 10px;
    font-size: medium !important;
}

.tabHeader {
    margin-top: 5px;
    font-weight: bold;
    background-color: rgb(30, 148, 208);
    border-radius: 15px;
    color: white;
    text-align: center;
    padding-bottom: 2px;
}

.interactorLabel {
    margin-top: 5px;
    color: rgb(0, 90, 117);
}

.interactorResourceBtn {
    margin-left: 10px;
    display: block;
}

.interactorResourceBtn label{
    margin-left: 5px;
    cursor: pointer;
}

.liveResourcesOuterPanel {
    height: 153px;
    width: 245px;
    margin-left: 10px;
    background-color: transparent;
    overflow: scroll;
}

.liveResourcesInnerPanel {
    color: white;
    height: auto;
    width: 245px;
}

.interactorResourceListBtn{
    display: block;
}

.interactorResourceListBtn label{
    margin-left: 5px;
    cursor: pointer;
    color: white;
}

.interactorResourceListBtnDisabled{
    display: block;
}

.interactorResourceListBtnDisabled label{
    margin-left: 5px;
    color: dimgray;
}
