.interactorsPanel {
    padding: 0 10px 0 10px;
    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: small !important;
    line-height: 1.2;
}

.interactorLabel {
    margin-top: 2px;
    color: rgb(0, 90, 117);
    font-size: medium !important;
}

.liveInteractorLabel {
    margin-left: 10px;
    display: block;
    color:rgb(0, 90, 117);
    font-size: medium !important;
}

.interactorResourceBtn {
    margin-left: 10px;
    display: inline-block;
    width: 200px;
    color: white;
}

.interactorResourceBtn label {
    margin-left: 5px;
    cursor: pointer;
}

.interactorResourceBtn:hover {
    color: rgb(6, 107, 158);
}

.interactorResourceBtnDisabled label {
    color: dimgray;
}

.liveResourcesOuterPanel {
    height: 85px;
    width: 245px;
    margin-left: 10px;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
}

.liveResourcesInnerPanel {
    color: white;
    height: auto;
    width: 244px;
}

.customResourcesOuterPanel {
    height: 45px;
    width: 245px;
    margin-left: 10px;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
}

.customResourcesInnerPanel {
    color: white;
    height: auto;
    width: 244px;
}

.loadingPanel {
    margin-left: 13px;
    color: rgb(6, 107, 158);
    font-size: small;
    white-space:pre; /* this is to handle line breaks */
}

.errorPanel {
    margin-left: 13px;
    color: rgb(158, 50, 43);
    font-size: small;
    white-space:pre; /* this is to handle line breaks */
}

.interactorResourceListBtn{
    float: left;
    width: 200px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.interactorResourceListBtn input{
    cursor: pointer;
}

.interactorResourceListBtn label{
    margin-left: 5px;
    cursor: pointer;
    color: white;
}

.interactorResourceListBtn:hover label{
    margin-left: 5px;
    cursor: pointer;
    color: rgb(6, 107, 158);
}

.interactorResourceListBtnDisabled{
    /*width: 200px;*/
    color: dimgray;
}

.interactorResourceListBtnDisabled label{
    /*margin-left: 5px;*/
    color: dimgray;
}

.summaryLb {
    background-color: white;
    border: none;
    height: 12px;
    min-width: 12px;
    text-align: center;
    border-radius: 6px;
    color: rgb(30, 148, 208);
    padding: 0px 1px 3px 1px;
    margin-right: 15px;
    outline: none;
    float: right;
    font-size: smaller !important;
}

.downloadBtn {
    background-color: rgb(30, 148, 208); /*#45b0d8;*/
    border: none;
    border-radius: 15px;
    color: white;
    margin-top: 5px;
    /*margin-left: 30px;*/
    padding: 2px 5px 2px 5px;
    outline: none;
    font-size: medium !important;
}

.downloadBtn span {
    vertical-align: middle !important;
    display: inline-block;
    min-width: 60px;
    max-width: 160px;
}

.downloadBtn img {
    vertical-align: middle !important;
    padding-right: 3px;
}

.downloadBtn:hover {
    background-color: #177dc0;
    cursor: pointer !important;
}

.downloadBtn:active:hover {
    background-color: #07558b;
    cursor: pointer !important;
}

.downloadBtn:disabled {
    background-color: #a39da6;
}

.addNewResourceBtn {
    background-color: rgb(30, 148, 208); /*#45b0d8;*/
    border: none;
    border-radius: 15px;
    color: white;
    margin-top: 5px;
    /*margin-left: 30px;*/
    padding: 1px 5px 4px 3px;
    outline: none;
    font-size: small !important;
}

.addNewResourceBtn span {
    vertical-align: middle !important;
    display: inline-block;
    min-width: 60px;
    max-width: 160px;
}

.addNewResourceBtn img {
    vertical-align: middle !important;
    padding-right: 3px;
}

.addNewResourceBtn:hover {
    background-color: #177dc0;
    cursor: pointer !important;
}

.addNewResourceBtn:active:hover {
    background-color: #07558b;
    cursor: pointer !important;
}

.addNewResourceBtn:disabled {
    background-color: #a39da6;
}
