.objectInfoPanel {
    background-color: rgba(182, 232, 249, 0.8);
    border: 1px none;
    border-radius: 5px;
    position: relative;
    margin: 10px 0 -20px 5px;

    float: left;
    width: 100%; /* grows and shrinks with the parent */
    overflow: auto !important;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    transition: height 1s;
}

.objectInfoContent {
    padding: 10px;
}

.infoHeader {
    font-weight: bolder;
    font-size: medium;
}

.infoHeader span{
    /*margin-left: 20px;*/
}

.databaseObjectListPanel {
    margin-top: 5px;
}

.databaseObjectListTitle {
    font-weight: bolder;
    margin-top: 5px;
    background-color: rgba(165, 226, 249, 0.8);
    /*border-radius: 10px;*/
}

.databaseObjectList {
    margin-left: 5px;
    max-height: 75px;
    overflow: auto;
}

.listItem {
    height: 20px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.listItem img {
    vertical-align: text-bottom !important;
}

.listItem a {
    color: #0000EE !important;
    text-decoration: underline !important;
}

.listItem a:visited {
    color: #800080 !important;
    text-decoration: underline !important;
}

.listItem a:hover, .listItem a:active  {
    color: #EE0000 !important;
    text-decoration: underline !important;
}

.listItemLink {
    display: inline;
    margin-left: 3px;
}
