.popup {
    background-color: rgb(88, 195, 229);
    background: -webkit-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* Standard syntax */
    opacity: 0.95;
    color: #EEEEEE;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    padding: 2px;
    border-radius: 10px;
    border: solid 2px rgb(7, 133, 171);

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: small !important;

    max-width: 320px;
}

.popup table, .popup tbody, .popup th, .popup tr, .popup td {
    margin: 0 !important;
    padding: 0 !important;
}

.label {
    cursor: pointer;
}

.label:hover {
    color: white;
}
