.popupPanel {
    border: 3px solid gray !important;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;

    background-color: rgb(88, 195, 229);

    background: -webkit-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* Standard syntax */
    background-image: -ms-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For IE10 */

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: small !important;
}

.analysisPanel {
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    padding: 2px 0 0 2px;
    /*background-color: rgb(88, 195, 229) !important;*/

}
.header {
    float: left;
    padding: 2px 0 2px 0;
    width: 100%;
}

.headerIcon {
    float: left;
    margin-right: 8px;
    margin-top: 1px;
}

.headerText {
    float: left;
    min-width: 370px;
    color: white;
    font-weight: bolder;
    font-size: large;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    cursor: default;
}

@sprite .close {
    gwt-image: 'closeNormal';
    outline: none;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}

@sprite .close:hover {
    gwt-image: 'closeHovered';
}

@sprite .close:active:hover {
    gwt-image: 'closeClicked';
}

.unselectable {
    -webkit-touch-callout: none; /* Prevents selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.undraggable {
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.imagePanel {
    background-color: white;
    width: 99%;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
}

.image {
    /*height: 320px;*/
    width:auto;
    height:auto;
    max-width:590px;
    max-height:320px;
}

.downloadPNG {
    background-color: #45b0d8;
    border: none;
    border-radius: 15px;
    color: white;
    float:left;
    font-size: large;
    margin-top: 6px;
    padding: 6px;
}

.downloadPNG img {
    vertical-align: middle !important;
    padding-right: 3px;
}

.downloadPNG:hover {
    background-color: #177dc0;
    cursor: pointer !important;
}

.downloadPNG:active:hover {
    background-color: #07558b;
    cursor: pointer !important;
}

.infoLabel {
    float: left;
    width:300px;
    color: white;
    font-weight: bolder;
    font-size: smaller;
    margin-top: 5px;
}

.genomespace {
    background-color: #45b0d8;
    border: none;
    border-radius: 15px;
    color: white;
    float:right;
    font-size: large;
    margin-top: 6px;
    padding: 6px;
}

.genomespace img {
    vertical-align: middle !important;
    padding-right: 3px;
}

.genomespace:hover {
    background-color: #177dc0;
    cursor: pointer !important;
}

.genomespace:active:hover {
    background-color: #07558b;
    cursor: pointer !important;
}