.popupPanel {
    border: 3px solid gray !important;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;

    background-color: rgb(88, 195, 229);

    background: -webkit-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* Standard syntax */
    background-image: -ms-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For IE10 */

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: medium !important;
}

.containerPanel {
    max-width: 650px;
    /*max-height: 400px;*/
    width: 100%;
    padding: 2px 0 0 2px;
    /*background-color: rgb(88, 195, 229) !important;*/
}

.header {
    float: left;
    padding: 2px 0 0 0;
    width: 100%;
    height: 1.4em;
}

.headerIcon {
    float: left;
    margin-right: 8px;
    margin-top: 1px;
}

.headerText {
    float: left;
    min-width: 370px;
    color: white;
    font-weight: bolder;
    font-size: large;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    cursor: default;
}

@sprite .close {
    gwt-image: 'closeNormal';
    outline: none;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}

@sprite .close:hover {
    gwt-image: 'closeHovered';
}

@sprite .close:active:hover {
    gwt-image: 'closeClicked';
}

.unselectable {
    -webkit-touch-callout: none; /* Prevents selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.undraggable {
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.namePanel {
    width: 95%;
    overflow: hidden;
}

.rowPanel {
    width: 95%;
    margin-top: 5px;
    overflow: hidden;
}

.actionPanel {
    margin-top: 10px;
    width: 95%;
    overflow: hidden;
}

.tabPanel {
    margin-top: 10px;
    height: 220px;
    /*min-height: 180px;*/
    width: auto;
    overflow: auto;
}

.tabButton {
    color: white;
    border-radius: 10px 10px 0 0;
    background: none rgb(88, 195, 229);
    font-size: small;
    outline: none;
    width: 185px;
    height: 65px;
    cursor: pointer;
}

.tabButton:hover {
    background: none rgb(30, 148, 208);
}

.tabButton:disabled {
    background: none rgb(88, 195, 229);
}

.tabButton div {
    text-align: center !important;
}

.tabButtonSelected {
    background: none rgb(6, 107, 158) !important;
}

.addDataPanel {
    padding: 3px;
    height: auto;
    width: auto;
}

.addServicePanel {
    padding: 3px;
    height: auto;
    width: auto;
    color: white; /* this is temporary */
}

.infoLabel {
    float: left;
    width:  60px;
    color: white;
    font-weight: bolder;
    font-size: medium;
    margin-top: 8px;
    cursor: default;
}

.inputTB {
    float: left;
    width: 490px;
    color: #07558b;
    font-weight: bolder;
    font-size: medium;
    border: none;
    border-radius: 6px;
    padding-left: 8px;
    margin-top: 7px;
    outline: none;
    /*margin-left: 10px;*/
}

.uploadOptionBtn{
    display: inline-block;
    width: 150px;
}

.uploadOptionBtn label{
    margin-left: 5px;
    cursor: pointer;
    color: white;
}

.uploadOptionBtn:hover label{
    margin-left: 5px;
    cursor: pointer;
    color: rgb(6, 107, 158);
}

.fileUpload {
    position: absolute;
    top: 44px;
    left: 66px;
    z-index: 100;
    width: 490px;
    /*margin-top: 10px;*/
    /* start of transparency styles */
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity:0);
    /* end of transparency styles */
}

.textArea {
    float: left;
    width: 500px;
    max-width: 510px;
    min-height: 60px;
    margin-top: 7px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: small;
    padding: 0 3px 0 5px;
    color: rgb(6, 107, 158);
}

.explanation {
    float: left;
    width: 474px;
    margin-top: 4px;
    margin-left: 10px;
    color: white;
}

.submitBtn {
    background-color: rgb(30, 148, 208); /*#45b0d8;*/
    border: none;
    border-radius: 15px;
    color: white;
    float:right;
    padding: 2px 5px 2px 5px;
    outline: none;
    font-size: medium !important;
}

.submitBtn span {
    vertical-align: middle !important;
    display: inline-block;
    min-width: 60px;
    max-width: 160px;
}

.submitBtn img {
    vertical-align: middle !important;
    padding-right: 3px;
    height: 24px;
    width: auto;
}

.submitBtn:hover {
    background-color: #177dc0;
    cursor: pointer !important;
}

.submitBtn:active:hover {
    background-color: #07558b;
    cursor: pointer !important;
}

.optionsPanelDisclosure {
    margin-left: 75px;
}

.optionsPanelDisclosureContent {
    border: 0 none !important;
    padding: 0 !important;
}

.submitBtn:disabled {
    background-color: #a39da6;
}