
.mainStaticThumbnails {
    position: absolute;
    bottom: 0;
    left: 150px;
    width: 130px;
    height: 75px;
    border: 1px solid grey;
    background-color: white;
}

.mainStaticThumbnails img {
    width: 130px;
    height: inherit;
    background-color: white;
}

.mainStaticThumbnails svg {
    width: 130px;
    height: inherit;
    background-color: white;
}
.mainStaticThumbnails:hover{
    cursor: pointer !important;
}
.mainStaticThumbnails svg a rect {
    box-shadow: 10px 10px #0d57ab ;
}

.selectedStaticThumbnails {
    border: 2px solid #4D4DFF;
    height: 73px !important;
}