.launcherPanel {
    position: absolute;
    top: 5px;
    right: 10px;
}

.illustrations {
    float: left;
    background-color: #58C3E5;
    border: none;
    outline: none;
    border-radius: 16px;
    color: white;
    margin: 0 10px 0 0;
    padding: 0;
    border: 0;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.illustrations>div {
    margin: 0;
    position: relative;
}

.illustrations span {
    display: none;
}

.illustrations img {
    display: block;
    height: 32px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.illustrations:hover {
    background-color: #1E95CF;
    cursor: pointer !important;
}

.illustrations:active:hover {
    background-color: #066B9E;
    cursor: pointer !important;
}

.illustrations:disabled, .illustrations:disabled:hover, .illustrations:disabled:active{
    background-color: #9a9c9e;
    cursor: default !important;
}

.key {
    float: left;
    background-color: #58C3E5;
    border: none;
    outline: none;
    border-radius: 16px;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.key>div {
    margin: 0;
    position: relative;
}

.key span {
    display: none;
}

.key img {
    display: block;
    height: 32px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.key:hover {
    background-color: #1E95CF;
    cursor: pointer !important;
}

.key:active:hover {
    background-color: #066B9E;
    cursor: pointer !important;
}

.key:disabled, .illustrations:disabled:hover, .illustrations:disabled:active{
    background-color: #9a9c9e;
    cursor: default !important;
}

.export {
    float: left;
    background-color: #58C3E5;
    border: none;
    outline: none;
    border-radius: 16px;
    color: white;
    margin: 0 10px 0 0;
    padding: 0;
    border: 0;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.export>div {
    margin: 0;
    position: relative;
}

.export span {
    display: none;
}

.export img {
    display: block;
    height: 32px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.export:hover {
    background-color: #1E95CF;
    cursor: pointer !important;
}

.export:active:hover {
    background-color: #066B9E;
    cursor: pointer !important;
}

.export:disabled, .export:disabled:hover, .export:disabled:active{
    background-color: #9a9c9e;
    cursor: default !important;
}