.launcherPanel {
    position: absolute;
    top: 5px;
    right: 10px;
}

@sprite .camera {
    background-color: rgba(88, 195, 229, 0.8) ;
    border: none;
    border-radius: 16px;
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 10px;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    gwt-image: 'cameraNormal';
    outline: none;
    border: 0;
    cursor: pointer;
}

@sprite .camera:hover {
    gwt-image:'cameraHovered';
}

@sprite .camera:active:hover {
    gwt-image: 'cameraClicked';
}

@sprite .illustrations {
    background-color: rgba(88, 195, 229, 0.8) ;
    border: none;
    border-radius: 16px;
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 10px;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    gwt-image: 'illustrationsNormal';
    outline: none;
    border: 0;
    cursor: pointer;
}

@sprite .illustrations:hover {
    gwt-image:'illustrationsHovered';
}

@sprite .illustrations:active:hover {
    gwt-image: 'illustrationsClicked';
}

@sprite .key {
    background-color: rgba(88, 195, 229, 0.8) ;
    border: none;
    border-radius: 16px;
    height: 32px;
    width: 32px;
    float: left;
    /*margin-right: 10px;*/

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    gwt-image: 'keyNormal';
    outline: none;
    border: 0;
    cursor: pointer;
}

@sprite .key:hover {
    gwt-image:'keyHovered';
}

@sprite .key:active:hover {
    gwt-image: 'keyClicked';
}