.container {
    /*bottom: 0;*/
    position: relative;
    overflow: visible;
    width: 32px;
    /*height: 100px;*/
    /*background-color: blue;*/
    float:left;
    margin-right: 10px;

}

.baseButtons {
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
                0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    background-color: rgba(88, 195, 229, 0.8) ;
    display: block;
    width: 32px;
    height: 32px;
    margin: 15px auto 0;
    position: relative;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.baseButtons:active,
.baseButtons:focus,
.baseButtons:hover {
    background-color: rgba(30, 148, 208, 0.8) ;
}

.optionButtons {
    width: 32px;
    height: 32px;
    margin: 5px auto 0;
    opacity: 0.0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    /*-moz-transition: translateY(50px);*/
    /*-o-transition: translateY(50px);*/
    transform: translateY(-40px);
}

.container:hover .optionButtons {
    opacity: 1.0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin: 8px auto 0;
}

.first{
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
    0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto 8px;
    position: relative;
    -webkit-transition: all .9s ease-out;
    -moz-transition: all .9s ease-out;
    -o-transition: all .9s ease-out;
    transition: all .9s ease-out;
}

/* Unessential styling for sliding up buttons at differnt speeds */

/*.buttons:nth-last-child(1) {*/
    /*-webkit-transition-delay: 25ms;*/
    /*transition-delay: 25ms;*/
    /*background-image: url('http://cbwconline.com/IMG/Share.svg');*/
    /*background-size: contain;*/
/*}*/

/*.buttons:not(:last-child):nth-last-child(2) {*/
    /*-webkit-transition-delay: 50ms;*/
    /*transition-delay: 20ms;*/
    /*background-image: url('http://cbwconline.com/IMG/Facebook-Flat.png');*/
    /*background-size: contain;*/
/*}*/

/*.buttons:not(:last-child):nth-last-child(3) {*/
    /*-webkit-transition-delay: 75ms;*/
    /*transition-delay: 40ms;*/
    /*background-image: url('http://cbwconline.com/IMG/Twitter-Flat.png');*/
    /*background-size: contain;*/
/*}*/

/*.buttons:not(:last-child):nth-last-child(4) {*/
    /*-webkit-transition-delay: 100ms;*/
    /*transition-delay: 60ms;*/
    /*background-image: url('http://cbwconline.com/IMG/Google%20Plus.svg');*/
    /*background-size: contain;*/
/*}*/

optionButtons:before {
    bottom: 25%;
    font-family: arial;
    font-weight: 600;
    border-radius: 2px;
    background: #585858;
    color: #fff;
    content: attr(tooltip);
    font-size: 12px;
    visibility: visible;
    opacity: 1;
    padding: 5px 7px;
    margin-right: 12px;
    position: absolute;
    right: 100%;
    white-space: nowrap;
}

optionButtons:hover:before,
optionButtons:hover:after {
    visibility: visible;
    opacity: 1;
}