.slider {
    outline: none;
}

.sliderValueBox {
    width: 23px;
    height: 17px;
    margin-top: 3px;
    float: right;
    background-color: #6E6E6E;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
    outline: none;
}
