.popup {
    background-color: rgb(88, 200, 234);
    /*background-color: white;*/
    /*opacity: 0.95;*/
    color: white;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    padding: 2px;
    border-radius: 15px;
    border: solid 2px rgb(7, 133, 171);

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: small !important;
}

.header {
    margin: 0 0 2px 4px;
}

.header:hover{
    cursor: move !important;
}

.header:active:hover{
    cursor: move !important;
}

.header button {
    float: right;
}

.header span {
    float: left;
    color: rgb(0, 90, 117);
    font-weight: bolder;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 250px;
    font-size: medium;
    margin-top: 4px;
}

.header img {
    float: left;
    margin: 2px 6px 0 5px;
}

@sprite .close {
    gwt-image: 'closeNormal';
    outline: none;
    background-repeat: no-repeat;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-right: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}

@sprite .close:hover {
    gwt-image: 'closeHovered';
}

@sprite .close:active:hover {
    gwt-image: 'closeClicked';
}