.popupPanel {
    border: 3px solid gray !important;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;

    background-color: #1e94d0;

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: small !important;
    line-height: normal !important;
}

.mainPanel {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    padding: 2px 0 0 2px;
    /*background-color: coral;*/
}

.header {
    float: left;
    padding: 2px 0 2px 0;
    width: 100%;
}

.headerIcon {
    float: left;
    height: 24px;
    width: auto;
    margin-right: 8px;
    margin-top: 1px;
}

.headerText {
    float: left;
    min-width: 370px;
    color: white;
    font-weight: bolder;
    font-size: large;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    cursor: default;
}

.close {
    float: right;
    background-color: #58C3E5;
    border: none;
    outline: none;
    border-radius: 12px;
    color: white;
    margin: 0 0 10px 0;
    padding: 0;
    border: 0;
}

.close>div {
    margin: 0;
    position: relative;
}

.close span {
    display: none;
}

.close img {
    display: block;
    height: 24px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.close:hover {
    background-color: #1E95CF;
    cursor: pointer !important;
}

.close:active:hover {
    background-color: #066B9E;
    cursor: pointer !important;
}

.unselectable {
    -webkit-touch-callout: none; /* Prevents selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.undraggable {
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.tabOuterPanel {
    float: left;
    width: 100%;
    height: 100%;
}

.tabContainer {
    float: left;
    width: 82%;
    min-width: 150px;
    min-height: 380px;
    overflow: hidden;
    background-color: white;

    border-radius: 0 10px 10px 10px;
}

.tabButtonsPanel {
    float: left;
    width: 15%;
    min-width: 68px;
}

.tabButton {
    color: white;
    border-radius: 10px 0 0 10px;
    background: none rgb(88, 195, 229);
    font-size: small;
    padding: 3px !important;
    outline: none;
    width: 100%;
    height: auto;
    cursor: pointer;
    line-height: normal !important;
}

.tabButton:disabled, .tabButton:disabled:hover, .tabButton:disabled:active {
    background: #9a9c9e;
    cursor: default;
}

.tabButtonSelected {
    background: none rgb(6, 107, 158) !important;
    cursor: default;
}

.tabButton img {
    height: auto;
    width: auto;
    max-height: 40px;
}