.sectionTitle {
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 5px;
    padding-left: 5px;
    background-color: rgb(0, 90, 117);;
}

.sectionTable {
    overflow: auto;
}

.sectionRow {
    display: inline-flex;
    padding-left: 5px;
}

.participant {
    width: 50px;
}

.expressionValue {
    text-align: right;
    width: 40px;
}