.messagesPanel{
    border-radius: 12px;
    position: absolute;

    background-color: rgb(27, 135, 197);
    border: 1px solid rgb(42, 147, 189);
    color: white;
    opacity: 0.85;
    display: block;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: 1.18em !important;
}

.messagesPanel img {
    width: auto;
    height:32px;
    vertical-align: middle;
}

.loadingMessage { /*centers in the middle*/
    width: 190px;
    margin-right: -95px; /* width and margin-right are related, please change both if needed */
    right: 50%;

    height: 40px;
    margin-top: -20px; /* height and margin-top are related, please change both if needed */
    top: 50%;

    padding: 5px 10px 0px 15px;
}

.loadingMessage span {
    margin-left: 15px;
    vertical-align: middle;
}

.analysisOverlayMessage {
    width: 240px;
    margin-right: -120px; /* width and margin-right are related, please change both if needed */
    right: 50%;

    height: 40px;
    margin-top: -20px; /* height and margin-top are related, please change both if needed */
    top: 50%;

    padding: 10px 10px 0 15px;
}

.analysisOverlayMessage span {
    margin-left: 15px;
}

.errorMessage {
    width: 400px;
    margin-right: -200px; /* width and margin-right are related, please change both if needed */
    right: 50%;

    height: 60px;
    margin-top: -30px; /* height and margin-top are related, please change both if needed */
    top: 50%;

    padding: 5px 5px 5px 10px;

    background-color: rgb(197, 91, 88);
    border: 1px solid rgb(197, 39, 34);
}

.errorMessage img {
    margin-top: 12px;
    float:left;
    width: auto;
    height: 32px;
    vertical-align: middle;
}

.errorMessageText {
    padding-left: 10px;
    height: 65px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    flex-direction: column;

    -webkit-align-items: center;
    align-items: center;

    justify-content: space-around;
}

.errorMessageTitle {
    align-self: flex-start;
}

.errorMessageDetailsContainer {
    align-self: flex-start;
    overflow: hidden;
    max-height: 45px;
}

.errorMessageDetailsNotEmpty {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 3px;
    padding-bottom: 2px;
}

.errorMessageDetails {
    font-size: 0.8em !important;
    max-height: 45px;
    padding-right: 75px;

    overflow-x: hidden;
    overflow-y: auto;
}

@sprite .close {
    gwt-image: 'closeRedNormal';
    outline: none;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    float: right;
}

@sprite .close:hover {
    gwt-image: 'closeRedHovered';
}

@sprite .close:active:hover {
    gwt-image: 'closeRedClicked';
}