.container {
    position: relative;
    width: 40px;
    float:left;
    margin-right: 2px;
    padding-bottom:7px;

    height: 35px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;

    -webkit-tap-highlight-color: transparent;
    outline-style: none;
}

.expandedContainer {
    height: 150px;
    -webkit-transition: all 50ms linear;
    -moz-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    transition: all 50ms linear;
}

.baseButtons {
    display: block;
    margin: 10px auto 0;
    position: relative;
    -webkit-transition: all 120ms ease-out;
    -moz-transition: all 120ms ease-out;
    -o-transition: all 120ms ease-out;
    transition: all 120ms ease-out;
}

.optionButtons {
    margin: 5px auto 0;
    opacity: 0.0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: hidden;
}

.expandedContainer .optionButtons {
    opacity: 1.0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin: 8px auto 0;
    visibility: visible;
}

.primaryButton{
    margin: 0 auto 0;
    position: relative;
}