.carouselPanel {
    /*overflow: auto;*/
    overflow: hidden;
    border-radius: 4px;
}

.sliderOuterPanel {
    display: block;
    overflow: hidden;
}

.sliderPanel {
    -webkit-transition: margin 0.5s ease;
    -moz-transition: margin 0.5s ease;
    -o-transition: margin 0.5s ease;
    transition: margin 0.5s ease;
}

.buttonsPanel {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.leftBtn {
    margin-top: 5px;
    margin-left: 5px;
    width: 24px;
    height: 24px;
    padding: 0 3px 0 0;
    float: left;
    background-color: #177dc0;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

.leftBtn:hover {
    background-color:  #07558b;
}

.leftBtn:active:hover {
    background-color: #00468b;
}

.leftBtn:disabled {
    background-color: darkgray;
    cursor: default;
}

.leftBtn:active:disabled {
    background-color: darkgray;
    cursor: default;
}

.rightBtn {
    margin-top: 5px;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    padding: 0 0 0 3px;
    float: right;
    background-color:  #177dc0;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

.rightBtn:hover {
    background-color:  #07558b;
}

.rightBtn:active:hover {
    background-color: #00468b;
}

.rightBtn:disabled {
    background-color: darkgray;
    cursor: default;
}

.rightBtn:active:disabled {
    background-color: darkgray;
    cursor: default;
}

.circleBtn {
    width: 12px;
    height: 12px;
    margin-left: 2px;
    background-color:  #177dc0;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

.circleBtn:hover {
    background-color:  #07558b;
}

.circleBtnSelected {
    background-color: rgb(134, 206, 229);
}