.caption {
    position: absolute;
    bottom: 5px;
    opacity: 0.75;

    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.caption:hover {
    opacity: 1;
}