.launchPanel{
    background-color: rgba(88, 195, 229, 0.8);
    border: none;
    border-radius: 16px;
    height: 32px;
    width: 32px;
    overflow: hidden !important;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}


.launchPanelExpanded{
    width: 315px;
}

@sprite .launch {
    float: left;
    gwt-image:'launchNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    opacity: 0.7;
}

@sprite .launch:hover {
    gwt-image:'launchHovered';
}

@sprite .launch:active:hover {
    gwt-image: 'launchClicked';
}

@sprite .launch:disabled, .launch:disabled:hover, .launch:disabled:active {
    gwt-image: 'launchDisabled';
    cursor: auto;
    opacity: 1;
}

.input {
    border-radius: 5px;
    position: relative;
    margin: 5px 0 0 4px;
    height: 20px;
    width: 240px;
    border: none;
    background-color: #23688b;
    font-size: 14px;
    opacity: 0.2;
    color: #23688b;
    padding-left: 5px;
    padding-right: 22px;
    outline: none;

    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.inputActive {
    opacity: 0.8;
    color: #FFFFFF;
}

.inputActive::-webkit-input-placeholder {
    color: #bcbcbc;
}

.clearBtn {
    position: absolute;
    background-color: transparent;
    border: none;
    border-radius: 9px;
    color: white;
    margin-left: -18px;
    margin-top: 9px;
    padding: 1px 1px 0 1px;
    outline: none;
    opacity: 0.6;
}

.clearBtn span {
    vertical-align: middle !important;
    display: inline-block;
}

.clearBtn img {
    height: 12px;
    width: auto;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.clearBtn:hover {
    cursor: pointer !important;
    opacity: 0.8;
}

.clearBtn:active:hover {
    cursor: pointer !important;
    opacity: 1;
}