.mainControlPanel {
    float: left;
    margin-left: 10px;
}

.fitall {
    float: left;
    background-color: #58C3E5;
    border: none;
    outline: none;
    border-radius: 16px;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.fitall>div {
    margin: 0;
    position: relative;
}

.fitall span {
    display: none;
}

.fitall img {
    display: block;
    height: 32px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.fitall:hover {
    background-color: #1E95CF;
    cursor: pointer !important;
}

.fitall:active:hover {
    background-color: #066B9E;
    cursor: pointer !important;
}

.fitall:disabled, .fitall:disabled:hover, .fitall:disabled:active{
    background-color: #9a9c9e;
    cursor: default !important;
}

.fireworks {
    float: left;
    background-color: #58C3E5;
    border: none;
    outline: none;
    border-radius: 16px;
    color: white;
    margin: 0 0 0 10px;
    padding: 0;
    border: 0;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.fireworks>div {
    margin: 0;
    position: relative;
}

.fireworks span {
    display: none;
}

.fireworks img {
    display: block;
    height: 32px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.fireworks:hover {
    background-color: #1E95CF;
    cursor: pointer !important;
}

.fireworks:active:hover {
    background-color: #066B9E;
    cursor: pointer !important;
}

.fireworks:disabled, .fireworks:disabled:hover, .fireworks:disabled:active{
    background-color: #9a9c9e;
    cursor: default !important;
}