
.mainStaticThumbnails {
    width: inherit;
    height: inherit;
    background-color: white;
    position:absolute;
    box-sizing: unset;
}

.mainStaticThumbnails img, .mainStaticThumbnails svg {
    width: inherit;
    height: inherit;
    background-color: white;
}

.mainStaticThumbnails:hover{
    cursor: pointer !important;
}

.mainStaticThumbnails svg a rect {
    box-shadow: 10px 10px #0d57ab ;
}

.selected {
    border-color:  #4D4DFF !important;
}

.selectedStaticThumbnails {
    background-color: white;
}