.controlPanel {
    bottom: 4px;
    right: 4px;
    width: 62px;
    height: 46px;
}

@sprite .down {
    gwt-image: 'downNormal';
    outline: none;
    background-repeat: no-repeat;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 24px;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@sprite .down:hover {
    gwt-image: 'downHovered';
}

@sprite .down:active:hover {
    gwt-image: 'downClicked';
}

@sprite .left {
    gwt-image: 'leftNormal';
    outline: none;
    background-repeat: no-repeat;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 12px;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@sprite .left:hover {
    gwt-image: 'leftHovered';
}

@sprite .left:active:hover {
    /*margin: 3px 7px;*/
    gwt-image: 'leftClicked';
}

@sprite .right {
    gwt-image: 'rightNormal';
    outline: none;
    background-repeat: no-repeat;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    left: 24px;
    top: 12px;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@sprite .right:hover {
    gwt-image: 'rightHovered';
}

@sprite .right:active:hover {
    gwt-image: 'rightClicked';
}

@sprite .up {
    gwt-image: 'upNormal';
    outline: none;
    background-repeat: no-repeat;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 0;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@sprite .up:hover {
    gwt-image: 'upHovered';
}

@sprite .up:active:hover {
    gwt-image: 'upClicked';
}

@sprite .zoomIn {
    gwt-image: 'zoomInNormal';
    outline: none;
    background-repeat: no-repeat;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    left: 40px;
    top: 0;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@sprite .zoomIn:hover {
    gwt-image: 'zoomInHovered';
}

@sprite .zoomIn:active:hover {
    gwt-image: 'zoomInClicked';
}

@sprite .zoomOut {
    gwt-image: 'zoomOutNormal';
    outline: none;
    background-repeat: no-repeat;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    left: 40px;
    top: 24px;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@sprite .zoomOut:hover {
    gwt-image: 'zoomOutHovered';
}

@sprite .zoomOut:active:hover {
    gwt-image: 'zoomOutClicked';
}