.base {
    outline: none;
    display: inline-block;
}

.tag {
    background-color: rgb(163, 157, 166);
    color: black;
    border: none;
    border-radius: 4px;
    opacity: 0.9;
    margin: 2px 0 0 5px;
    padding: 2px;
    overflow: auto !important;
    max-width: 200px;
    outline: none;
    cursor: pointer;
}

.tag img {
    height: 12px;
    width: auto;
    margin: 2px 3px 2px 3px;
    float: left;
}

.tagText {
    float: left;
    margin-right: 3px;
    margin-top: 1px;

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: 0.95em !important;
    font-weight: bold;
    line-height: 1em;
}

.tagActive {
    background-color: rgb(30, 148, 208);
    color: white;
}