.launchPanel{
    background-color: rgba(88, 195, 229, 0.8);
    border: none;
    border-radius: 16px;
    max-height: 32px;
    width: 32px;
    overflow: hidden !important;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    -webkit-transition: width 0.3s, max-height 0.1s;
    -moz-transition: width 0.3s, max-height 0.1s;
    transition: width 0.3s, max-height 0.1s;
}


.launchPanelExpanded{
    width: 345px;
}

.launchPanelExpandedVertically {
    height: auto;
    max-height: 125px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@sprite .launch {
    float: left;
    gwt-image:'launchNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    opacity: 0.7;
}

@sprite .launch:hover {
    gwt-image:'launchHovered';
}

@sprite .launch:active:hover {
    gwt-image: 'launchClicked';
}

@sprite .launch:disabled, .launch:disabled:hover, .launch:disabled:active {
    gwt-image: 'launchDisabled';
    cursor: auto;
    opacity: 1;
}

.input {
    border-radius: 5px !important;
    position: relative !important;
    margin: 5px 0 0 4px !important;
    height: 20px !important;
    width: 220px !important;
    border: none !important;
    background-color: #23688b !important;
    font-size: 14px !important;
    opacity: 0.2 !important;
    color: #23688b !important;
    padding: 1px 22px 1px 5px !important;
    outline: none !important;

    transition: opacity 0.3s ease-in-out !important;
    -moz-transition: opacity 0.3s ease-in-out !important;
    -webkit-transition: opacity 0.3s ease-in-out !important;

    box-sizing: content-box !important;
    vertical-align: baseline !important;
    line-height: normal !important;
}

.inputActive {
    opacity: 0.8 !important;
    margin: 5px 0 0 4px !important;
    color: #FFF !important;
}

.inputActive::-webkit-input-placeholder {
    color: #bcbcbc;
}

.clearBtn {
    position: absolute;
    background-color: transparent;
    border: none;
    border-radius: 9px;
    color: white;
    margin-left: -18px;
    margin-top: 9px;
    padding: 1px 1px 0 1px;
    outline: none;
    opacity: 0.6;
}

.clearBtn span {
    vertical-align: middle !important;
    display: inline-block;
}

.clearBtn img {
    height: 12px;
    width: auto;

    vertical-align: top !important;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.clearBtn:hover {
    cursor: pointer !important;
    opacity: 0.8;
}

.clearBtn:active:hover {
    cursor: pointer !important;
    opacity: 1;
}

.executeBtn {
    position: absolute;
    background-color: #1e94d0;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    margin-top: 5px;
    padding: 1px 1px 0 1px;
    outline: none;
    opacity: 0.8;
    width: 22px;
    height: 22px;
}

.executeBtn span {
    vertical-align: middle !important;
    display: inline-block;
}

.executeBtn img {
    height: 12px;
    width: auto;
    vertical-align: baseline !important;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.executeBtn:hover {
    cursor: pointer !important;
    opacity: 0.9;
}

.executeBtn:active:hover {
    cursor: pointer !important;
    opacity: 1;
}

.executeBtn:disabled {
    background-color: darkgray;
}

.optionsBtn {
    position: absolute;
    background-color: #1e94d0;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 32px;
    margin-top: 5px;
    padding: 1px 1px 0 1px;
    outline: none;
    opacity: 0.8;
    width: 22px;
    height: 22px;
}

.optionsBtn span {
    vertical-align: middle !important;
    display: inline-block;
}

.optionsBtn img {
    height: 12px;
    width: auto;
    vertical-align: baseline !important;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.optionsBtn:hover {
    cursor: pointer !important;
    opacity: 0.9;
}

.optionsBtn:active:hover {
    cursor: pointer !important;
    opacity: 1;
}

.optionsBtn:disabled {
    background-color: darkgray;
}

.youAreHereIcon {
    height: 23px;
    width: auto;
}