.panelHidden {
    animation-direction: reverse;
    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;

    background-color: white;
    width: 0;
    height: 0;
}

.panelShown {
    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;

    background-color: white;
    width: 100%;
    height: 100%;

    z-index: 2; /* This is to ensure that the illustrations are always on top of the download button */
}

.panelShown img {
    width: 99%;
    padding: 5px;
    margin-bottom: 100px;
}

.container {
    height: 100%;
}

@sprite .close {
    gwt-image:'closeNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 7px;
    right: 10px;
    border-radius: 12px;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@sprite .close:hover {
    gwt-image:'closeHovered';
}

@sprite .close:active:hover {
    gwt-image: 'closeClicked';
}